/*
Main CSS file
*/
@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase');

body {
    font-family: 'Cormorant Unicase', serif;
}

.app__container {
    padding-top: 59px;
}

.app__heading {
    margin-bottom: 1rem;
}